@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body,
#root,
[data-overlay-container] {
    height: 100vh;
    width: 100%;
}
.modlist-table [data-selected='true']::before {
    content: none !important;
}
